.chat-main
  .chat-main__group-info
    .chat-main__group
      %p.chat-group 
      = @group.name
      .group-members
        %h1.members-title Members : 
        %ul.members
          - @group.users.each do |user|
            %li.member-name= user.name
            
    .chat-main__edit 
      = link_to edit_group_path(@group), class: "edit__btn" do
        Edit

  .chat-main__message-list
    = render @messages
    

  .chat-main__message-form
    = form_for [@group, @message], html: { class: "message-form" } do |f|
      .form-box
        = f.text_field :content, class: 'text-message', placeholder: "type a message"  
        .form
          = f.label  :image, class: 'image-message' do
            = icon('fas', 'image')
            = f.file_field :image, class: 'image-file'
      = f.submit 'Send', class: 'submit-btn'

 
      
-# .chat-post
    -#   %h2.chat-name 
    -#     masa
    -#     %span.message-date 2019/11/20 (Wed) 17:43:01
    -#   .chat-message おはよう！
    -# .chat-post
    -#   %h2.chat-name 
    -#     masa
    -#     %span.message-date 2019/11/20 (Wed) 17:43:01
    -#   .chat-message こんにちは！
    -# .chat-post
    -#   %h2.chat-name 
    -#     masa
    -#     %span.message-date 2019/11/20 (Wed) 17:43:01
    -#   .chat-message こんばんは！